<html>
  <head>
    <title>
      Index of <include_resource name="__path__" />
    </title>
  </head>
  <body>
    <h3>Index of <include_resource name="__path__" /></h3>
    <include_resource name="__body__" />
  </body>
</html>
