<html>
  <head>
    <title>A page in the Cells CMS</title>
  </head>

  <body>
    <include_resource name="__header__" />
    <include_resource name="__body__"/>
    <include_resource name="__footer__"/>
  </body>
</html>
